body {
     /*font-family: 'Cormorant Garamond', serif;*/
    /*font-size: 16px; !* Базовий розмір шрифту *!*/
    /*line-height: 1.5; !* Зручне міжрядкове відступлення *!*/
}

/*!* Додаткові стилі для заголовків *!*/
/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: 'Cormorant Garamond', serif;*/
/*    font-weight: 700;*/
/*    color: black;*/
/*}*/

/*!* Посилання *!*/
/*a {*/
/*    font-family: 'Cormorant Garamond', serif;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    transition: color 0.3s ease;*/
/*}*/

/*a:hover {*/
/*    color: rgba(255, 215, 0, 0.88);*/
/*}*/


/* Оновлення шрифту для всіх компонентів Bootstrap */
.navbar, .btn, .form-control, .dropdown-item, .table, .card {
    font-family: 'Cormorant Garamond', serif;
}

/* -----------------nav ----------------------*/
.navbar-custom{
    /*position: fixed;*/
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,59,96,1) 80%, rgba(34,53,112,1) 89%, rgba(39,74,111,1) 100%, rgba(0,212,255,1) 100%);
}

.logo-img {
    width: 70px;
    height: 80px;
    margin-right: 10px;
    margin-left: 100px;
}

.brand-text {
    font-family: 'Cinzel', serif;
    font-size: 22px;
    font-weight: bold;
    color: #b9a141;
}

/*.navbar-nav{*/
/*    margin-left: 100px;*/
/*}*/

.navbar-nav .nav-item {
    margin-right: 30px;
}

.nav-link {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: bold;
    color: #b9a141;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link.active{
    color: #FFD700;
}

.nav-link:hover {
    color: rgba(255, 215, 0, 0.88);
}

.btn-outline-success {
    border-color: #b9a141;
    color: #b9a141;
}

.svg:hover {
    transition: stroke 0.3s ease;
}

.svg:hover {
    stroke: #FFD700;
}

.btn-outline-success:hover {
    color: #FFD700;
    background-color: rgba(255, 215, 0, 0.15);
    border-color: #b9a141;
}

/* ------------main ------------*/
main {
    font-family: 'Cormorant Garamond', serif;
    margin-top: 100px;
    padding: 20px;
    color: #020024FF;
}

/* ------------modal window in gallery for zoom photo ------------*/
#imageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modalImage {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
    border-radius: 8px;
}
/* -----------Card of member  ------------*/
.custom-card {
    background: linear-gradient(145deg, #4c4c4c, #2e2e2e);
    color: #b9a141;
    border: 1px solid #8b7e4e;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.custom-card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #8b7e4e;
}

.custom-card .no-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #3e3e3e;
    color: #b9a141;
    font-style: italic;
}

.custom-list .list-group-item {
    background: none;
    border: none;
    color: #b9a141;
    font-size: 20px;
}

.custom-list .list-group-item:not(:last-child) {
    border-bottom: 1px solid rgba(185, 161, 65, 0.5);
}

.btn-primary {
    background-color: #b9a141;
    border-color: #8b7e4e;
    color: #2e2e2e;
}

.btn-primary:hover {
    border-color: #8b7e4e;
    background-color: #8b7e4e;
    color: #fff;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



/*.parallax {*/
/*    !*background-image: url('/img/f5.jpg');*!*/
/*    !*background-image: url('/img/tr6.jpg');*!*/

/*    !*background-image: url('/img/h3.jpg');*!*/

/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/

/*}*/

